<app-nav></app-nav>
<main *ngIf="!hideTools" role="main" class="flex-shrink-0">
    <div class="container">
        <h1 style="font: small-caps 160%/200% serif;" 
            class="mt-5">Herramientas</h1>
    </div>
</main>
<div *ngIf="!hideTools" class="album py-5 bg-light">
<div class="container">
    <div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm align-items-center">
            <img src="../../assets/netcore.svg" alt="NET Core" width="200" height="220">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm align-items-center">
            <img src="../../assets/angular.svg" alt="Angular" width="200" height="220">
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm align-items-center">
            <img src="../../assets/postgresql.svg" alt="SQL" width="200" height="220">
        </div>
    </div>
    <div class="col-md-4">
            <div class="card mb-4 shadow-sm align-items-center">
                <img src="../../assets/azure.svg" alt="Azure" width="200" height="220">
            </div>
        </div>
    </div>
</div>
</div>

