<style>
    button {
    background-color: white;
    color: #2d7ef7;
}
</style>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 style="font: small-caps 120%/200% serif;" class="my-0 mr-md-auto font-weight-normal">DatingApp</h5>
    <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/mensajes']" routerLinkActive="active" 
        style="font: small-caps 120%/200% serif; cursor: pointer;">Mensajes</a>
    <a class="p-2 text-dark" [routerLink]="['/listas']" routerLinkActive="active" 
        style="font: small-caps 120%/200% serif; cursor: pointer;">Listas</a>
    <a class="p-2 text-dark" [routerLink]="['/matches']" routerLinkActive="active" 
        style="font: small-caps 120%/200% serif; cursor: pointer;">Matches</a>
    </nav>
    <button style="font: small-caps 120%/200% serif;"
        class="btn btn-lg btn-primary" (click)="cerrar()">Cerrar Sesion</button>
        
</div>